/* ==========================================================================
   HubSpot Migrations Services - COS Boilerplate v2.0.0                              
   ========================================================================== */


/* ==========================================================================
   Table of Contents:

   1. EXTERNAL RESOURCES
   2. BASE STYLES
   3. COS STRUCTURE
   4. MAIN NAVIGATION
   5. BLOG
   6. FORMS
   7. BUTTONS
   8. MISCELLANEOUS
   9. MOBILE MEDIA QUERIES
   ========================================================================== */


/* ==========================================================================
   1. EXTERNAL RESOURCES                                            
   ========================================================================== */


/* =============== @import, @font-face, and CSS File Includes =============== */

/* EX: @import url('http://example.com/example_style.css'); */

@font-face {
  font-family: 'DINOT-CondMedium';
  src: url(https://cdn2.hubspot.net/hubfs/7145159/Font%20Hubspot/DINOT-CondMedium.eot);
  src: url(https://cdn2.hubspot.net/hubfs/7145159/Font%20Hubspot/DINOT-CondMedium.eot) format('embedded-opentype'),
     url(https://cdn2.hubspot.net/hubfs/7145159/Font%20Hubspot/DINOT-CondMedium.woff) format('woff'),
     url(https://cdn2.hubspot.net/hubfs/7145159/Font%20Hubspot/DINOT-CondMedium.otf) format('truetype'),
    url(https://cdn2.hubspot.net/hubfs/7145159/Font%20Hubspot/DINOT-CondMedium.ttf) format('truetype');
  font-style: normal;

}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

/* HubSpot_Boilerplate-modules.css is required to address style issues with the default modules and responsive grid layout */
{% include "Custom/page/310Creative_January2018-theme/310Creative_January2018-modules00.css" %}


/* ==========================================================================
   2. BASE STYLES                                             
   ========================================================================== */

/* =============== Base =============== */



/* Page Center */
.container-fluid .row-fluid .page-center {
  float: none;
  max-width: 1024px;
  margin: 0 auto;
}







/* border: 5px solid #EA1D37; */
.row-fluid .pricing-main-area{ max-width:950px; float:none; margin:0 auto !important; padding: 69px 0; padding-top: 100px; }
.row-fluid .pricing-row > span > .hs_cos_wrapper{ float:left; width:28.33%;  }
.row-fluid .pricing-row .pricing-box{ float:left; width:100%; }
.row-fluid .pricing-header{ float:left; width:100%;  text-align:center;   text-transform: uppercase;  }
.row-fluid .pricing-header h4{  color: #1c2d47; font-weight: 500; font-size: 30px;  line-height: 35px; text-transform:capitalize; margin-bottom:4px; }
.row-fluid .pricing-button{ float:left; width:100%; text-align:center; padding-top:10px; }
.row-fluid .pricing-button a{ display: inline-block;  background-color: #1c2d47;  color: #fff;  min-width: 235px;  padding: 6px 8px;  border-radius: 4px;  text-transform: uppercase;  font-size: 15px;    letter-spacing: 2px; }
.row-fluid .pricing-button a:hover,.row-fluid .pricing-button a:focus{ border-bottom:none; }
.row-fluid .pricing-list{ float:left; width:100%; line-height:18px; }
.row-fluid .pricing-list ul{ list-style:none;  }
.row-fluid .pricing-list ul li{ display:inline-block; position:relative; font-weight: 500; color:#1c2d47; font-size:15px; padding-bottom:11px; }
.row-fluid .pricing-list ul li.Close:before{ content:"\f058"; position:absolute; font-family:'fontawesome'; left: -23px;  font-size: 17px; }
.row-fluid .pricing-space{ float:left; width:100%; text-align:center;  color: #1c2d47;      font-size: 15px; line-height: 16px; padding: 25px 0; }
.row-fluid .pricing-space h5{ font-weight: 500; margin-bottom: 0px; color:#1c2d47;     line-height: 18px; font-size:16px; padding-bottom:4px;      }
.row-fluid .learn-more{ float:left; width:100%; text-align:center; padding-top:10px; }
.row-fluid .learn-more a{ text-decoration: none; text-transform: uppercase;  font-size: 11px;  color: #5E474D;  letter-spacing: 1px;  font-weight: 500; }
.row-fluid .pricing-list ul li.on { opacity:0.3; }  
.row-fluid .pricing-row{ /*border: 1px solid #CCC8C9; */ padding: 12px 30px; }
.row-fluid .pricing-row > span > .hs_cos_wrapper{  border: 1px solid transparent; padding: 14px 18px;  padding-top: 77px;  }
.row-fluid .pricing-row > span > .hs_cos_wrapper:last-child{   border: 1px solid #ccc; position:relative;  background-image:url('https://cdn2.hubspot.net/hubfs/4130406/icon.png'); background-repeat:no-repeat;     background-position: center top; }

.row-fluid .pricing-button a{  text-decoration: none; }

.row-fluid .pricing-main-v2 .pricing-row {
    border: none;
    padding: 0px;
}
.row-fluid .pricing-main-v2 .pricing-row > span > .hs_cos_wrapper {
    border: 0px;
    padding: 14px 18px;
    padding-top: 0px;
}
.row-fluid .pricing-main-v2 .pricing-row > span > .hs_cos_wrapper:last-child {
    border: 0px;
    position: relative;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center top;
}
.row-fluid .pricing-main-area.pricing-main-v2 {
    padding-top: 20px;
}

.pricing-box-v3 .pricing-header h4 {
  font-size: 1.7800rem !important;
  font-weight: 700;
  padding: 20px;
}
.pricing-box-v3 .price {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 2.8125rem !important; 
  font-weight: 700;
}
.pricing-box-v3 span.month-style {
  font-size: 0.8rem;
  color: #a4abae;
}
.pricing-box-v3 .pricing-space {
    background: #f0f7f9 !important;
    text-align: center !important;
}
.pricing-box-v3 .pricing-button {
    background: #fff !important;
}
.pricing-box-v3 .pricing-list {
   width: unset !important;
   border: unset !important;
   float: unset !important;
   text-align: center;
   position: relative;
   top: 37px !important;
}
.pricing-box-v3 .pricing-list ul li:first-child {
   border: unset;
}
.pricing-box-v3 .pricing-list ul li {
  text-align: center;
  color: #a4abb5;
  border-top: 1px solid #f0f7f9;
  padding: 5px 0 !important;
  display: block;
  width: unset !important;
  margin-left: 0px !important;
}
.pricing-box-v3 .pricing-list ul li.Close:before,
.pricing-box-v3 .pricing-button a:after{
    content: unset !important;
}
.pricing-box-v3 .pricing-button a {
    border-radius: 60px !important;
    border: 2px solid #3d4757 !important;
    background: transparent !important;
    color: #3d4757 !important;
}
.pricing-row .hs_cos_wrapper_widget:nth-child(2) {
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.2), 0 20px 60px -10px rgba(0, 0, 0, .3);
    -webkit-transform: scale(1.05, 1.05) translateY(-20px);
    transform: scale(1.05, 1.05) translateY(-20px);
}
.row-fluid .pricing-1-new .pricing-row {
    border: 0 !important;
    padding: 0 !important;
}
.row-fluid .pricing-1-new .pricing-row > span > .hs_cos_wrapper {
    border: unset !important; 
}
body.hs-content-id-6030035840 .pricing-row > span > .hs_cos_wrapper,
body .pricing-1-new .pricing-row > span > .hs_cos_wrapper,
body.b2b-pricing-2 .pricing-row > span > .hs_cos_wrapper {
    padding: 14px 0px !important;
    width: 33.33%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1) !important;
    border-radius: 6px;
    transition: .2s ease-in-out;
    text-align: center;
}
body .pricing-1-new .pricing-row > span > .hs_cos_wrapper {
		width: 25% !important;
}
body .pricing-1-new .pricing-v2 .pricing-button {
 		padding: 0 !important; 
}
body.hs-content-id-6030035840 .pricing-main-area.pricing-main-v2 {
    padding-top: 60px;
}
.pricing-v2 span.price-month {
  font-size: 20px; 
  position: relative;
  top: -18px;
  left: -7px;
}
.pricing-v2 .pricing-button .price,
.pricing-v2 .price sup{
    font-size: 60px !important;
}
.pricing-v2 .price sup{
    font-size: 40px !important;
}
 
@media (min-width:768px) and (max-width:992px) {
 body .pricing-box-v3 .pricing-button a {
    width: 90% !important;
  }
  .pricing-box-v3 .pricing-list ul li {
    width: 150px !important;
	}
}
@media ( max-width:991px ){
  .row-fluid .zick-zack-row .row-fluid .details h2{ font-size:35px; }
  .row-fluid .zick-zack-row .row-fluid .zick-left{ padding-right: 20px; }
  .zick-zack-row .row-fluid .cover2 .row-fluid .zick-left{ padding-left: 20px; }
  .row-fluid .pricing-button a{ width:100%; min-width:100%; }
  .row-fluid .pricing-row{ float:left; }
  .row-fluid .pricing-row > span > .hs_cos_wrapper{     padding: 14px 10px;  }
    .row-fluid .pricing-main-area{ padding:0 18px; }
  .row-fluid .pricing-row > span > .hs_cos_wrapper{ padding-top:77px; }
  
  
}

@media ( max-width:767px ){
  .pricing-row .hs_cos_wrapper_widget:nth-child(2) {
    webkit-transform:none;
    transform: none;}
  .row-fluid .zick-zack-row .row-fluid .zick-left{ float:left; width:100%;  text-align:center; padding-bottom:30px }
  .row-fluid .zick-right{ float:left; width:100%;  text-align:center; }
  .row-fluid .zick-zack-row .row-fluid .zick-left{ padding-right: 0px; }
  .zick-zack-row .row-fluid .cover2 .row-fluid .zick-left{ padding-left: 0px; padding-top:27px;  }
   .row-fluid .multi-logo-row > span > .hs_cos_wrapper{ min-height: 116px; }
  .row-fluid .pricing-row > span > .hs_cos_wrapper{ width:100%; }
  .row-fluid .pricing-list ul { max-width: 260px;width:100%; margin:0 auto; }
  .row-fluid .pricing-list{  text-align:center; width: -webkit-fill-available!important; margin-bottom: 20px;}
  .row-fluid .pricing-row > span > .hs_cos_wrapper{ padding-bottom:37px; }
  .row-fluid .pricing-main-area{ padding:0 18px; }
  .row-fluid .pricing-row{ padding:12px 5px; }
  .row-fluid .pricing-row > span > .hs_cos_wrapper{     padding-top: 6px; }
  
  .row-fluid .pricing-row > span > .hs_cos_wrapper:last-child{ padding-top:70px; }
  .row-fluid .pricing-button a{     min-width: 200px;
    max-width: 231px; }
  body.hs-content-id-6030035840 .pricing-row > span > .hs_cos_wrapper, body .pricing-1-new .pricing-row > span > .hs_cos_wrapper {width: 100% !important;}
.row-fluid .pricing-main-v2 .pricing-row > span > .hs_cos_wrapper { padding: 0px;}
}



/* =============== Typography =============== */

/* Basic text */
p {} 
small {}
strong {}
em {}
cite {}
code {}
pre {}

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'DINOT-CondMedium';
    line-height:1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

h1 {
    color: #2a2f42;
    font-size: 55px;
    
}
h2 {
    font-weight: 100 !important;
font-size: 40px !important;
line-height: 48px !important;
color: #222222 !important;
 font-family: 'DINOT-CondMedium';

}

h3 {
    color: #633939;
    line-height: 1.7;
    font-size: 30px;
    
}

h4 {
    color: #666666;
    font-size: 22px;
}

h5 {
    
    color: #323240;
    line-height: 1.7;
    font-size:14px;
}

h6 {
    color: #323240;
    line-height: 1.7;
    font-size:14px;
}

/* Anchor Links */
a { 
    color: rgb(0,0,0);
    font-weight: 500;
    transition: all 0.2s;
    font-family: 'DINOT-CondMedium';
}

a:hover, a:focus {
    border-bottom-color: #323240; 
    border-bottom: 2px solid transparent;
}
.system-main .page-header h1{
color: #633939;
font-size: 42px;
  font-weight: 100;
      padding-bottom: 10px;
      line-height: 34px;
}
.system-main h3{
font-family: 'DINOT-CondMedium';
font-weight: 500;
font-size: 15px;
color: #474747;
}
.system-main h2{
font-family: 'DINOT-CondMedium';
font-weight: 500;
font-size: 15px;
color: #474747;
}

/* Lists */
ul, ol {
    margin: 0 0 10px;
    padding-left: 25px;
}
ul ul, ul ol, ol ol, ol ul {}
li {}

/* Block Quotes */
blockquote {}
blockquote p {}
blockquote small {}

/* Horizontal Rules */
hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none;
}


/* =============== EU Cookie Confirmation Bar =============== */

/* Confirmation Outer Wrapper*/
#hs-eu-cookie-confirmation {}

/* Confirmation Inner Wrapper*/
#hs-eu-cookie-confirmation-inner {}
#hs-eu-cookie-confirmation-inner p{}

/* Confirmation Button */
#hs-en-cookie-confirmation-buttons-area {}
a#hs-eu-confirmation-button {}


/* ==========================================================================
   3. COS STRUCTURE                                            
   ========================================================================== */


/* =============== Structure =============== */

/* The outer wrappers of your website */
.header-container-wrapper, 
.body-container-wrapper, 
.footer-container-wrapper {}

/* The inner wrappers of your website */
.header-container, 
.body-container, 
.footer-container {}


/* =============== Header =============== */

.header-container-wrapper {}
.header-container {}

.custom-logo img {
    margin-top: 38px;
    min-width: 100px;
    width: 200px;
}

.custom-logo a:hover {
     border-bottom: none;
}
/* =============== Content =============== */

.body-container-wrapper {
    background-color: #ffffff;
    margin-top: -4px;
}

.body-container-wrapper .page-center {
    padding:15px 20px;
}

.body-container {
        font-family: 'DINOT-CondMedium';
}

.content-wrapper {}
.main-content {}
.sidebar{}
.sidebar.right{}
.sidebar.left{}

/* =============== Footer =============== */






/* ==========================================================================
   4. MAIN NAVIGATION                                            
   ========================================================================== */


/* =============== Custom Menu Primary =============== */

/* Parent List */





/* Fix menu disappearing on desktop after toggling mobile menu */





/* =============== Mobile Toggle Menu =============== */

/* Hide button on Desktop */



  /* ===== Mobile Child Toggle Buttons ===== */

 

/* ==========================================================================
   5. BLOG                                        
   ========================================================================== */


/* =============== General Blog Styles =============== */

/* Blog Post and Listing Body Class */
.blog {}

/* Blog Post */
.hs-blog-post {}

/* Blog Listing */
.hs-blog-listing {}

/* Blog Columns Wrapper */
.blog .content-wrapper {}


/* =============== Blog Content Column =============== */

.blog .blog-content {}

/* Use this to style the main wrapper for the blog listing pages */
.blog-listing-wrapper {}

/* Use this to style the main wrapper for the blog post pages */
.blog-post-wrapper {}

/* Blog Title */
.hs-blog-header h1 {}
.hs-blog-header h1 a{}

/* Blog Post Title */
.post-header h2 {}
.post-header h2 a {
    color: inherit;
    text-decoration: none !important;
}
span.filter-link-count {
    display: none;
}
/* Blog Author and Avatar */
#hubspot-author_data {}
#hubspot-author_data:after {
  content: '';
  display: block;
  clear: both;
}
#hubspot-author_data a.author-link {}
#hubspot-author_data .hs-author-avatar {
    max-width: 70px;
    padding: 10px 10px 10px 0;
}
#hubspot-author_data .hs-author-avatar img {
    height: auto !important;
    max-width: 100%;
}

/* Use this to set up different styling for your blog posts */
.blog-listing-wrapper .post-listing .post-item {
    margin:0 0 30px;
    padding:0 0 30px;
}
.blog-listing-wrapper .post-listing .post-item .post-body {}
.blog-post-wrapper .post-body {}

/* Post Featured Image on Listings Page */
.hs-featured-image-wrapper {}
.hs-featured-image-wrapper .hs-featured-image-link {}
.hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image{
  border-width: 0;
  max-width: 210px;
  height: auto;
  width: auto;
  display: block !important;
  float: right;
  margin: 20px 0 20px 20px;
}

/* Read More Link */
a.more-link {
    display:block;
    margin:15px 0;
}

/* Blog Topics List */
#hubspot-topic_data {}
#hubspot-topic_data a.topic-link {}

/* Blog Social Sharing Icons */
.hs-blog-social-share {
  margin-top: 20px;
  padding: 10px 0 0 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: auto;
}
.body-container .hs-blog-social-share li{
    background: none;
    padding: 0;
}
#comment-form .hs_subscribe li {
    list-style: none;
    padding: 0;
}


/* Blog Commments */
#comments-listing {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  margin-top: 30px;
}

#comments-listing.no-comments {
   border: none;
}
.comment {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  padding: 15px 0;
}
.comment.depth-0 {
    border-bottom: 1px solid #000 !important;
    border-top: medium none !important;
    margin: 0 10px 10px !important;
    padding: 0 15px !important;
}

.comment-body {
    border-bottom: medium none;
    display: block;
    padding: 0;
}

.comment-reply-to{
    margin-bottom: 15px;
}

.comment-from h4 {
    margin: 0;
    padding-top: 15px;
}

.comment-date {
    display: block !important;
    font-size: 13px;
    text-align: left;
}
.comment-from { font-weight: bold; }
.comment-body { padding: 10px 0; }
.custom_listing_comments{
   border: 1px solid #E2E2E2;
   display: block;
   line-height: 165%;
   padding: 15px;
   line-height:26.4px;
}

/* Pagination */
.blog-pagination {}
.blog-pagination a {
   display:block;
}
.blog-pagination a.previous-posts-link {}
.blog-pagination a.all-posts-link {}
.blog-pagination a.next-posts-link {}

/* Blog All Posts Page */
.hs-content-path-blog-all {}
div.post-listing-simple {}
div.post-listing-simple .post-item {}
h2.post-listing-simple {}
h2.post-listing-simple a {}


/* =============== Blog Sidebar =============== */

.blog .blog-sidebar {}

/* Blog Modules */
.blog .blog-sidebar .widget-span {}

.blog .blog-sidebar .cell-wrapper{
    margin:0 0 30px;
}

/* =============== Blog Author Page and Author Bio =============== */

.hs-blog-listing .hs-author-profile {
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  overflow: hidden;
}
.hs-blog-post .hs-author-profile {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 0;
  margin: 20px 0 20px 0;
}
.hs-author-profile .hs-author-profile:after {
  content: '';
  display: block;
  clear: both;
}

/* Author Avatar */
.hs-author-profile .hs-author-avatar {
  float: left;
  margin-right: 15px;
  max-width: 100px;
}
.hs-author-profile .hs-author-avatar img{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-width: 100%;
}

/* Author Bio Wrapper*/
.hs-author-profile .hs-author-bio {
  overflow: hidden;
}

/* Author Name */
.hs-author-profile h2.hs-author-name {
  margin: 0 0 10px 0;
}

/* Author Social Follow Me */
.hs-author-profile .hs-author-social-section {}
.hs-author-profile .hs-author-social-label {}
.hs-author-profile .hs-author-social-links {}
.hs-author-profile .hs-author-social-link {}
.hs-author-profile .hs-social-facebook {}
.hs-author-profile .hs-social-linkedin {}
.hs-author-profile .hs-social-twitter {}
.hs-author-profile .hs-social-google-plus {}


/* ==========================================================================
   6. FORMS                                        
   ========================================================================== */


/* =============== Global Form Styles =============== */

/* Form Field */
.hs-form-field {}

/* Descriptions */
.hs-field-desc {}

/* Labels and Legends */
label {}
body .hs-form-field > label,
.widget-type-google_search label,
#comment-form li.hs-form-booleancheckbox label {
    display: block;
    font-size: 15px;
    color: rgb(0,0,0);
    font-weight: 700;
    text-transform: uppercase;
    webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
    font-family: 'DINOT-CondMedium';
    line-height: 25px;
}

/* One Line Inputs */
input[type="text"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
input[type="file"],
textarea,
select {
    width:100%;
    display: block;
    height: 40px;
    font-size: 13px;
    line-height: 35px;
    color: #333;
    background: transparent;
    border: 1px solid #333;
    padding: 0 0 0 6px;
    margin: 0px;
    outline: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
        font-family: 'DINOT-CondMedium';
}

input[type="text"]:hover,
input[type="password"]:hover, 
input[type="datetime"]:hover, 
input[type="datetime-local"]:hover, 
input[type="date"]:hover, 
input[type="month"]:hover, 
input[type="time"]:hover, 
input[type="week"]:hover, 
input[type="number"]:hover, 
input[type="email"]:hover, 
input[type="url"]:hover, 
input[type="search"]:hover, 
input[type="tel"]:hover, 
input[type="color"]:hover,
input[type="file"]:hover,
textarea:hover,
select:hover {
       border: 5px solid #000; 
}

input[type="text"]:focus,
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
    border-color: #5e374f;
}

/* Separate Styles for Multiple Line Inputs */
textarea {}
textarea:focus {}

/* Separate Styles for Drop Downs */
select {}
select:focus {}

/* Multiple Selection Inputs */
form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0;
}
form.hs-form .hs-form-field ul.inputs-list li input {}
input[type="radio"] {}
input[type="checkbox"] {}

/* Required */
input:focus:required:invalid, 
textarea:focus:required:invalid, 
select:focus:required:invalid {}

input:focus:required:invalid:focus, 
textarea:focus:required:invalid:focus, 
select:focus:required:invalid:focus {}

/* Error */
.hs-error-msgs label{
    color: red;
    font-size: 15px;
    font-weight: bold;
    font-family: 'DINOT-CondMedium';
    text-transform: uppercase;
    line-height:25px;
}

ul.hs-error-msgs.inputs-list {
    padding-left: 0;
    list-style-type: none;
    margin: 10px 0 0;
}

/* Placeholder Text */
::-webkit-input-placeholder {} /* Webkit Browsers */
:-moz-placeholder {} /* Firefox 18- */
::-moz-placeholder {} /* Firefox 19+ */
:-ms-input-placeholder {} /* IE10 */


/* =============== Multi Column Form =============== */

.hs-form fieldset.form-columns-1 {}
.hs-form fieldset.form-columns-1 .hs-form-field {}
.hs-form fieldset.form-columns-2 {}
.hs-form fieldset.form-columns-2 .hs-form-field {}
.hs-form fieldset.form-columns-3 {}
.hs-form fieldset.form-columns-3 .hs-form-field {}

/* Multiple Selection Inputs */
form.hs-form .hs-form-field ul.inputs-list li input {}
input[type="radio"] {}
input[type="checkbox"] {}
form.hs-form fieldset { max-width: none; }
form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] { width: auto; }
form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }

@media (max-width: 400px) {
  form.hs-form fieldset .hs-form-field { padding: 0; }
  form.hs-form fieldset.form-columns-3 .hs-form-field,
  form.hs-form .form-columns-2 .hs-form-field .hs-input, 
  form.hs-form .form-columns-3 .hs-form-field .hs-input { width: 100%; }
  form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] { width: auto; }
}


/* =============== Blog Comment Form =============== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="submit"] {
    margin-top: 15px;
}
#comment-form input[type="text"] {}
#comment-form input[type="text"]:focus {}

#comment-form textarea {}
#comment-form textarea:focus {}

#comment-form input[type="checkbox"] {}


/* =============== Blog Subscription Form =============== */

/* Label */
#hs_form_target_blog_subscription .hs-form-field > label {}
#hs_form_target_blog_subscription label {}

/* Inputs */
#hs_form_target_blog_subscription input[type="email"] {}
#hs_form_target_blog_subscription input[type="email"]:focus {}
#hs_form_target_blog_subscription input[type="radio"], #hs_form_target_blog_subscription input[type="checkbox"] {
width: auto;
margin-right: 10px;
}

/* =============== Google Search Form =============== */

/* Label */
.widget-type-google_search label {}

/* Input */
.widget-type-google_search input[type="text"] {}
.widget-type-google_search input[type="focus"] {}


/* ==========================================================================
   7. BUTTONS                                        
   ========================================================================== */


/* =============== All Global Buttons (Excluding CTAs) =============== */

.hs-button.primary,
input[type="submit"],
input[type="button"] {
cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #333;
    background: transparent;
    border: 1px solid #333;
   padding: 11px 8px 11px 8px;
    margin: 0px;
    outline: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    font-family: 'DINOT-CondMedium';
    display:inline-block;
    margin-top:20px;
}

.hs-button.primary:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
     border: 2px solid rgba(0, 0, 0,0.9);
    cursor: pointer;
}

.hs-button.primary:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
    border-bottom-color: #323240;
}


/* =============== Form Module Button =============== */

.hs_cos_wrapper_type_form .hs-button.primary.large {
        text-decoration: none;
}
.hs_cos_wrapper_type_form .hs-button.primary.large:hover {}
.hs_cos_wrapper_type_form .hs-button.primary.large:focus {}


/* =============== Blog Comment Button =============== */

#add-comment-button.hs-button.primary {}
#add-comment-button.hs-button.primary:hover {}
#add-comment-button.hs-button.primary:focus {}


/* =============== Blog Subscription Button =============== */

#hs_form_target_blog_subscription .hs-button.primary.large {}
#hs_form_target_blog_subscription .hs-button.primary.large:hover {}
#hs_form_target_blog_subscription .hs-button.primary.large:focus {}


/* =============== Google Search Button =============== */

.widget-type-google_search .hs-button.primary {}
.widget-type-google_search .hs-button.primary:hover {}
.widget-type-google_search .hs-button.primary:focus {}


/* ==========================================================================
   8. MISCELLANEOUS                                      
   ========================================================================== */


.landing-page.one-column .body-container form, 
.error-template.one-column .body-container form, 
.password-template.one-column .body-container form, 
.subscription-template.one-column .body-container form{
    width: 50%;
}


body.error-template,
body.password-template,
body.subscription-template{
    background-image: url(//cdn2.hubspot.net/hubfs/2570076/310Creative%20%20January2018/Images/web_design_agency_santa_monica.jpg);
}

/* Styles that do not fit into any of the available sections above can go here. */








.row-fluid .pd-tp-200  { padding-top:200px; }


/* Accordian */


.accordion_group {
margin-bottom: 10px;
background: #f0f0f0;
padding: 5px 10px;
border-radius: 6px;
}
.hs-content-id-5936135818 .accordion_group:hover {
box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.2), 0 20px 60px -10px rgba(0, 0, 0, .3);
transition: .4s;
}

/* ==========================================================================
   9. MEDIA QUERIES                              
   ========================================================================== */
@media handheld, only screen and (max-width: 1070px){
.footer-container .page-center {
    padding: 0 3%;
}
}
/* =============== Screen sizes smaller than .page-center =============== */


@media (max-width: 1665px) {
    .bottom-menu-angle {
        height: 386px;
        border-right-width: 1664px;
        border-bottom-width: 325px;
    }
    #top-angle {
        border-left-width: 1664px;
        border-top-width: 325px;
    }
    .bottom-angle {
        border-right-width: 1648px;
        border-bottom-width: 325px;
    }
    .footer-angle {
        border-left-width: 1664px;
        border-top-width: 325px;
    }
    div#custom-body {
        margin-top: 0px;
    }
}


@media (max-width:1125px) {
     .custom-header-wrapper .page-center {
        padding: 0 8px 0 10px;
    }   
    
    .custom-scroll {
        position: absolute;
        top: 265px;
    }
    .custom-menu-wrapper {
        padding-top: 24px;
        padding-bottom: 20px;
    }

}

@media (max-width: 1024px) {
    .custom-footer-menu-primary ul li a {
        font-size: 9px;
    }
    
    .custom-footer-menu-primary ul li {
        display: inline-block;
        margin-right: 6px;
    }
    
    .custom-footer-menu-primary {
        padding-left: 8px;
    }
    
    .body-container-wrapper .page-center {
        padding: 15px 30px;
    }
    .custom-menu-wrapper {
        padding-top: 24px;
        padding-bottom: 20px;
    }
}


@media (max-width:960px) {
    .custom-header-wrapper .page-center {
        padding: 0px 10px 0 10px;
    }
    
    .custom-footer-menu-primary {
        padding-left: 8px;
    }
    
    .custom-scroll {
        position: absolute;
        top: 265px;
    }
    
    .social-shairing {
        padding-left: 28px;
    }
    
    .custom-footer-menu-primary {
        padding-left: 28px;
    }
}

/* =============== Landscape tablet and smaller devices =============== */

@media (max-width: 767px) {
  .row-fluid .pricing-space
  {
    float:none;
  }
  .row-fluid .hero-section h1{font-size: 32px;}
  .pricing-row {
    margin-bottom: 100px !important;
  }
	.landing-page.one-column .body-container form, 
	.error-template.one-column .body-container form, 
	.password-template.one-column .body-container form, 
	.subscription-template.one-column .body-container form{
		width: 100%;
	}
  .row-fluid .pricing-1-new .pricing-row>span>.hs_cos_wrapper,
  body.b2b-pricing-2 .pricing-row>span>.hs_cos_wrapper 
  {padding-top: 0 !important;     margin-bottom: 30px;}
	#top-angle{
	    margin-top:350px;
	}
  body.b2b-pricing-2 .pricing-row>span>.hs_cos_wrapper{width: 100%;}
  .row-fluid .pricing-list ul{max-width: unset;}
	.hs-form {
		margin-bottom: 30px
	}
	#comment-form .hs-form {
		margin-bottom: 0;
	}
	.blog-sidebar {
		padding-top: 30px;
	}
    .hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image {
        max-width: 100%;
        float: none;
        display: block !important;
        margin: 20px 0;
    }
    .bottom-angle{
        margin-bottom:0;
    }
    /* .footer-container{
        margin-top:70px;
    }*/
    .hs-author-profile .hs-author-bio,
    .hs-author-profile .hs-author-social-section,
    .hs-author-profile .hs-author-avatar,
    .hs-blog-listing .hs-author-profile{
        width: 100%;
        float: left;
    }
    .hs-author-profile .hs-author-avatar img {
        margin-bottom: 5px;
    }	
   .custom-header-wrapper {
        position: absolute;
        width: 100% !important;
    }
    
    .custom-logo img {
         margin-top: 15px !important;
        min-width: 100px;
        width: 100px;
    }
    
    .custom-bottom-footer .page-center {
        padding-left:20px !important;
        padding-right:20px !important;
    }
    
    .custom-footer-menu-primary ul li {
        display: inline-block;
        width: auto !important;
        margin-right: 2px;
    }
    
   .bottom-menu-angle {
        border-right-width: 95vw;
    }
    
    .custom-menu-wrapper {
        padding-top: 28px;
        padding-bottom: 22px;
    }
    
    .custom-footer-menu-primary {
        width: 48% !important;
        float: left !important;
        padding-left: 0;
    }
    
    .custom-copyright {
        width: 48% !important;
        float: right !important;
    }
    
    .custom-bottom-footer .page-center {
        padding-left:20px !important;
        padding-right:20px !important;
    }
    
    .custom-scroll {
        position: absolute;
        top: 195px;
        left: 44.6%;
    }
    
    .bottom-menu-angle {
        height: 317px;
        border-right-width: 100vw;
        border-bottom-width: 131px;
        top: -100%;
        transition: top 0.2s ease-in-out;
        }
        .mobile-open .bottom-menu-angle {
        top: 0;
        transition: top 0.2s ease-in-out;
}
    
    .footer-angle {
        border-top-width: 125px
    }
     .social-shairing {
        padding-left: 20px; 
     }
     
     .social-shairing ul.social-icon {
        bottom: 110px;
    }
    
    .social-shairing h5 {
        bottom: 175px;
    }
     .custom-menu-primary {
        float: right !important;
    }
    
   
    .custom-menu-primary.js-enabled {
        margin: 0 !important;
        width: 100% !important;
    }
}  


/* =============== Landscape phones and smaller devices =============== */

@media (max-width:1199px) {
  .row-fluid #custom-body.main-border-wrpper,.row-fluid #custom-body {
    margin: 0px auto 100px !important;
  }
}

@media (max-width: 479px) {
     .custom-footer-menu-primary {
        display:none !important;
    }
    
    .custom-copyright {
        width: 100% !important;
        float: none;
        text-align: center;
    }
    .custom-bottom-footer .custom-menu-wrapper {
        padding-top: 22px;
        padding-bottom: 23px;
    }
    .custom-menu-wrapper {
        padding-top: 28px;
        padding-bottom: 31px;
    }
    
    .custom-bottom-footer .page-center {
        padding-left: 0 !important; 
    }
    
    .custom-scroll {
        top: 195px;
        left: 46%;
    }
    
    .action-scroll {
        width: 36px;
        height: 36px;
    }
    
    .custom-copyright {
        padding-right: 23px;
    }
    
    .social-shairing {
        padding-left: 14px;
    }
    
    .body-container-wrapper .page-center {
        padding: 0px 20px;
    }
}

@media (max-width:411px) {
    
   
    
    .custom-menu-primary {
        float: right !important;
    }
  
    .custom-top-footer h5 {
        display:none;
    }
}


@media (max-width:320px){
    .custom-menu-wrapper {
        padding-top: 22px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .custom-top-footer ul li a {
        margin-right: 4px;
    }
    
    .social-shairing ul.social-icon {
        padding-left: 25px;
    }
    
}

/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */
{% include "hubspot/styles/responsive/modules.css" %}
{% include "hubspot/styles/patches/recommended.css" %}


/*****************************************/
/* Start your style declarations here    */
/*****************************************/